@use "../variables";

.infos-bar {
    padding: 16px 24px;
    background-color: variables.$textColor;
    display: flex;
    justify-content: space-between;

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: variables.$secondaryTextColor;

            b {
                font-size: 18px;
                color: #000;
                display: variables.$secondaryTextColor;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        .infos-bar__infos {
            display: block;

            .infos-bar__infos__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}